**/node_modules
.github
.git
img
LICENSE
README.md
RELEASE_NOTES.md
*.podspec
**/*.md
*.tgz
**/.gitignore

**/bin
**/obj
**/packages
**/paket-files
fable-typed/paket.*
fable-typed/*.fsproj
fable-typed/publish.js
fable-typed/.paket

**/android/build
**/android/app/build
**/android/app/src/main/assets/*.bundle
**/android/local.properties
**/.gradle
**/.idea
**/*.iml
**/*.apk

**/ios

**/out

**/infer-out
**/compile_commands.json
**/xcodebuild.log

.circleci
.github
.ionide
.vscode

blueprint-templates
docs
RNCMIFTest
Simple
